body {
  background-image: linear-gradient(to bottom right, #000000, #00274c, #454545);
  height: auto;
}

.image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: transparent;
  border-radius: 10px;
}
